<%= title('About Shalani')%>

<div id='bio-heading'>
  <h1 class> About Shalini </h1>
  <%= image_tag 'shalani-photo', id: 'shalani-headshot' %>
  <h2> Shalani MS, MEd, RDN, LDN, CDE </h2>
  <p>Shalani has a passion for gardening. She loves to cook and try recipes from all over the world.</p>
</div>

<div id='bio'>
  <h3>Background</h3>

  <div id='education' class='indent'>
    <h4>Education</h4>
    <p class='indent'>&bull; M.S. & MEd, Penn State University </p>
    <p class='indent'>&bull; B.S. Nutrition & Home Ec, Punjab University, India</p>
    <p class='indent'>&bull; Certified Diabetes Educator, NCBDE</p>
  </div>

  <div class='dietitician-info'>
    <div id='languages' class='indent'>
      <h4>Languages</h4>
      <p class='indent'>&bull; English</p>
      <p class='indent'>&bull; Hindi </p>
      <p class='indent'>&bull; Urdu </p>
      <p class='indent'>&bull; Bengali </p>
    </div>
    
    <div id='interests' class='indent bottom'> 
      <h4>Interests: </h4>
      <p class='indent'>&bull; Diabetes education</p>
      <p class='indent'>&bull; Women’s health</p>
      <p class='indent'>&bull; Pediatrics</p>
      <p class='indent'>&bull; Weight management</p>
    </div>
  </div>

</div>