<h1> About Shalini </h1>
<h2> Shalani MS, MEd, RDN, LDN, CDE </h2>

<p>Shalani has a passion for gardening. She loves to cook and try recipes from all over the world.</p>

<div id='bio'>
  <h3>Background</h3>

  <div id='education' class='indent'>
    <h4>Education</h4>
    <p class='indent'>&bull; M.S. & MEd, Penn State University </p>
    <p class='indent'>&bull; B.S. Nutrition & Home Ec, Punjab University, India</p>
    <p class='indent'>&bull; Certified Diabetes Educator, NCBDE</p>
  </div>

  <div class='dietitician-info'>
    <div id='languages' class='indent'>
      <h4>Languages</h4>
      <p class='indent'>&bull; English</p>
      <p class='indent'>&bull; Hindi </p>
      <p class='indent'>&bull; Urdu </p>
      <p class='indent'>&bull; Punjabi </p>
      <p class='indent'>&bull; Bengali </p>
    </div>
    
    <div id='interests' class='indent'> 
      <h4>Interests: </h4>
      <p class='indent'>&bull; Diabetes education</p>
      <p class='indent'>&bull; Women’s health</p>
      <p class='indent'>&bull; Pediatrics</p>
      <p class='indent'>&bull; Weight management</p>
    </div>
  </div>

  <div id='locations' class='indent'>
    <h4>Locations:</h4> 
    
    <div class='address'>
      <div class='location-header indent'>Windsor Street Care Center</div>
      <div class='location indent'> 119 Windsor St. </div>
      <div class='location indent'> Cambridge, MA 02139 </div>
      <div class='location indent'> Phone: 617-665-3600 </div>
    </div>

    <br>

    <div class='address'>
      <div class='location-header indent'> Union Square Care Center</div>
      <div class='location indent'> 26 Central St. </div>
      <div class='location indent'> Somerville, MA 02143 </div>
      <div class='location indent'> Phone: 617-665-3370 </div>
    </div>
  </div>
</div>