// Place all the styles related to the appointments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.simple-calendar {
    $unavailable-gray: #DDD;

    max-width: 50%;
    
    font-size: 1.5em;
    
    margin: 5% 25% 5%;
    text-align: center;

    .wday-5.future.current-month { 
        background-color: white;
        cursor: pointer;
    }

    //currently because only fridays are open, gray out all other days, and past days 
    //(as well as "todays" that aren't fridays)
    .past, .wday-0, .wday-1, .wday-2, .wday-3, .wday-4, .wday-6 {
        background-color: $unavailable-gray;
        &.today {
            background-color: $unavailable-gray;
        }
    }

    a {
        font-size: 1.25vw;
        text-decoration: none;
        color: blue;
        margin: 10px;
    }

    tr {
        th {
            text-align: center;
        }
    }

}

.whiteBox {
    text-align: left;
    padding: 20px;
    background-color: white;
    min-height: 15em;

    .date-title {
        text-align: center;
        font-size: 2vw;
    }
}