<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      Shalini Health
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  
  <div class="nav-links">
    <a href="http://stackoverflow.com/users/4084003/" target="_blank">Cooking Classes</a>
    <a href="#">Consultations</a>
    <a href="https://codepen.io/jo_Geek/" target="_blank">Lifestyle</a>
    <%= link_to 'Sign Up', '/signup' %>
    <%= link_to 'Log In', '/login' %>
  </div>
</div>